h2 {
    color: teal;
    background-color: plum;
}
button{
    color: magenta;
    background-color: cyan;
}
p{
    color: olive;
    /*More options than background-color!!*/
    background: orange;
}